@font-face {
  font-family: Hubballi;
  font-display: swap;
  src: url("../fonts/Hubballi-Regular.woff2") format("woff2"), url("../fonts/Hubballi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
.body {
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #282828;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .body__fon::after {
    content: "";
    background-color: #4e7fce;
    display: block;
    position: absolute;
    max-width: 635px;
    width: 100%;
    height: 100%;
    max-height: 798px;
    top: 0;
    right: 0;
  }
}
.body.touch .arrow.active {
  transform: rotate(-180deg);
}
.body.touch .arrow--popup::after.active {
  content: url("../img/arrow-close.svg");
}
.body.touch .lang-list__item.open .sub-lang {
  display: flex;
}
.body.touch .popup__item.open .sub-popup {
  display: block;
}
.body.mouse .lang-list:hover .arrow {
  transform: rotate(-180deg);
}
.body.mouse .lang-list__item:hover .sub-lang {
  display: flex;
}
.body.mouse .popup__list:hover .sub-popup {
  display: block;
}
.body.mouse .popup__list:hover .arrow--popup::after {
  content: url("../img/arrow-close.svg");
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

main {
  width: 100%;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .header {
    padding: 0 35px;
  }
}
@media (min-width: 1068px) {
  .header {
    padding: 0 135px;
  }
}
.header::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #f0f2f5;
}
@media (min-width: 768px) {
  .header::after {
    display: none;
  }
}

.logo {
  display: block;
  width: 81px;
  height: 38px;
  margin: 15px 0 15px 15px;
}
.logo:hover {
  transform: scale(1.1);
}
@media (min-width: 768px) {
  .logo {
    margin: 20px 60px 20px 0;
  }
}

.menu {
  margin: 30px 0 0 15px;
  display: grid;
  gap: 10px;
}
@media (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 410px;
    min-width: 330px;
    margin: 0;
  }
}
.menu__link {
  text-decoration: none;
  color: #ffffff;
}
.menu__link:hover, .menu__link.active {
  color: #fe950d;
}
@media (min-width: 1068px) {
  .menu__link {
    color: #282828;
  }
}
.menu__text {
  font-size: 18px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .menu__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }
}

.nav {
  width: 100%;
  position: relative;
  display: grid;
}
@media (min-width: 768px) {
  .nav {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 15px;
    padding: 15px 0;
  }
}
@media (min-width: 1068px) {
  .nav {
    display: flex;
    gap: 0;
    padding: 0;
  }
}
.nav__wrap {
  background-color: #4d7ecd;
  width: 100%;
  min-width: 320px;
}
@media (min-width: 768px) {
  .nav__wrap {
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 1;
    background-color: transparent;
  }
}
@media (min-width: 1068px) {
  .nav__wrap {
    flex-flow: row nowrap;
    align-items: center;
  }
}
.nav__link {
  text-decoration: none;
  color: #ffffff;
}
.nav__list {
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) and (max-width: 1068px) {
  .nav__list.menu {
    order: 1;
  }
  .nav__list.lang-list {
    order: 3;
  }
  .nav__list.user {
    order: 2;
  }
}
.nav__text {
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .nav__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }
}
.nav__toggle {
  position: absolute;
  top: 22px;
  right: 40px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}
.nav--closed .nav__toggle {
  background-image: url("../img/menu_close.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 24px;
  height: 24px;
}
.nav--closed .nav__wrap {
  display: none;
}
@media (min-width: 768px) {
  .nav--closed .nav__wrap {
    display: flex;
  }
}
.nav--opened .nav__toggle {
  background-image: url("../img/menu_open.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 24px;
  height: 24px;
}
.nav--nojs .nav__toggle {
  display: none;
}

.user {
  margin: 20px 0 30px 0;
  display: grid;
  gap: 20px;
  justify-content: center;
}
@media (min-width: 768px) {
  .user {
    display: flex;
    margin: 10px 0;
    align-items: center;
  }
}
@media (min-width: 1068px) {
  .user {
    margin: 0;
  }
}
.user__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  padding: 15px 0;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .user__item {
    width: 100px;
    height: 24px;
  }
}
@media (min-width: 1068px) {
  .user__item {
    width: 60px;
    border: none;
    padding: 0;
  }
}
.user__item:hover {
  background-color: #ffffff;
  border: 1px solid #fe950d;
}
.user__item:hover .nav__link {
  color: #fe950d;
}
.user__item:hover .nav__link::before {
  background-image: url("../img/entrance_hover.svg");
}
.user__link {
  display: flex;
  align-items: center;
}
.user__link::before {
  content: "";
  display: block;
  margin: 0 10px 0 0;
  width: 14px;
  height: 14px;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.user .nav__text {
  line-height: 26px;
}
@media (min-width: 768px) {
  .user .nav__text {
    line-height: 18px;
  }
}

.lang-list {
  margin: 85px 0 0 15px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .lang-list {
    margin: 0 0 10px 0;
  }
}
@media (min-width: 1068px) {
  .lang-list {
    margin: 0 0 0 40px;
  }
}
.lang-list__item {
  max-width: 100px;
  width: 100px;
  position: relative;
}
.lang-list__link {
  position: relative;
  padding: 0 0 0 24px;
  display: block;
}
.lang-list__link::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -2px;
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 24px;
  height: 24px;
  background-image: url("../img/lang.svg");
}
.lang-list__arrow {
  position: absolute;
  top: 6px;
  right: -3px;
}
.lang-list__text {
  line-height: 24px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .lang-list__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
  }
}

.sub-lang {
  display: none;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  position: absolute;
  left: 0;
  top: -65px;
  padding: 0 0 10px 0;
}
@media (min-width: 768px) {
  .sub-lang {
    top: 21px;
    padding: 10px 0 0 0;
  }
}
.sub-lang__item {
  width: 100px;
  text-align: center;
  line-height: 18px;
  padding: 10px 0 5px 0;
  background-color: #ffffff;
}
.sub-lang__link {
  color: #9ba0b9;
}
.sub-lang__link.active {
  color: #4e7fce;
}
.sub-lang__text {
  font-size: 12px;
}

.arrow {
  width: 18px;
  height: 18px;
  background-image: url("../img/arrow-bot.svg");
}
.arrow--popup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.6px;
  height: 11.6px;
  background-color: #f5f5f5;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .arrow--popup {
    width: 19px;
    height: 19px;
  }
}
.arrow--popup::after {
  content: url("../img/arrow-open.svg");
  display: block;
  width: 7px;
  height: 7px;
}
@media (min-width: 768px) {
  .arrow--popup::after {
    width: 10px;
    height: 10px;
    margin: 0 0 3px 2px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  padding: 15px 0;
  text-align: center;
  box-sizing: border-box;
  background-color: #fe950d;
  border-radius: 5px;
  border: none;
  box-shadow: 0 8px 30px rgba(254, 149, 13, 0.35), inset 0 15px 30px rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .button {
    width: 200px;
    padding: 0;
    height: 38px;
  }
}
.button:hover {
  box-shadow: inset 0 -15px 30px rgba(255, 255, 255, 0.2);
}
.button.disabled {
  background: #9ba0b9;
  box-shadow: none;
}
.button__link {
  color: #ffffff;
  text-decoration: none;
}
.button__text {
  font-size: 14px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .button__text {
    font-size: 12px;
    line-height: 18px;
  }
}
.button--form {
  color: #ffffff;
}
@media (min-width: 768px) {
  .button--form {
    width: 270px;
    height: 56px;
  }
}

.form {
  display: grid;
  gap: 15px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .form {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0;
    column-gap: 30px;
    row-gap: 15px;
  }
}
.form__style {
  font-family: Montserrat;
  font-weight: 500;
  width: 290px;
  padding: 15px 0 15px 20px;
  font-size: 14px;
  line-height: 26px;
  background: #ffffff;
  border: 1px solid #9ba0b9;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
}
.form__style:focus {
  border: 1px solid #9ba0b9;
}
.form__style.disabled {
  background: #f7faff;
  border: 1px solid #f0f2f5;
  box-sizing: border-box;
  border-radius: 5px;
}
.form__style:hover::placeholder {
  font-size: 14px;
  line-height: 26px;
  color: #282828;
}
.form__style:hover::placeholder.disabled {
  font-size: 14px;
  line-height: 26px;
  color: #9ba0b9;
}
@media (min-width: 768px) {
  .form__style {
    width: 270px;
  }
}
.form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #999999;
  order: 3;
}

.popup {
  padding: 11px 0 11px 11px;
  font-weight: 700;
  font-size: 5.4px;
  line-height: 9px;
  letter-spacing: 0.05em;
  box-sizing: border-box;
  color: #282828;
}
@media (min-width: 768px) {
  .popup {
    padding: 19px 0 19px 19px;
    font-size: 9px;
    line-height: 14px;
  }
}
.popup__arrow {
  position: absolute;
  top: -1px;
  right: 11px;
}
.popup__item {
  position: relative;
}
.popup__item::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 2px;
  display: block;
  width: 2.33px;
  height: 2.33px;
  background: #f44336;
  box-shadow: 0 0 0 2.3px rgba(244, 67, 54, 0.15);
  border-radius: 50%;
}
@media (min-width: 768px) {
  .popup__item::before {
    width: 3.82px;
    height: 3.82px;
    top: 5px;
    box-shadow: 0 0 0 3.8165px rgba(244, 67, 54, 0.15);
  }
}
.popup__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.popup__subtitle {
  margin: 5px 0 2px 0;
}
.popup__text {
  font-weight: 400;
  font-size: 4.6px;
}
@media (min-width: 768px) {
  .popup__text {
    font-size: 7.67px;
    line-height: 14px;
  }
}
.popup__title {
  margin: 0;
  padding: 0 0 0 10px;
  text-transform: uppercase;
}

.sub-popup {
  box-sizing: border-box;
  display: none;
  position: absolute;
  left: -11px;
  top: 11px;
  padding: 0 0 0 11px;
  width: 131px;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
@media (min-width: 768px) {
  .sub-popup {
    width: 215px;
    padding: 0 0 0 19px;
    left: -19px;
    top: 19px;
  }
}

.promo {
  width: 100%;
  display: grid;
  font-size: 25px;
  line-height: 40px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .promo {
    padding: 0 35px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
@media (min-width: 1068px) {
  .promo {
    padding: 0 135px;
    min-height: 720px;
    grid-template-columns: 1fr 1fr;
    font-size: 40px;
    line-height: 46px;
  }
}
@media (min-width: 1200px) {
  .promo {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    line-height: 56px;
  }
}
.promo__form {
  margin: 30px 0 0 0;
}
@media (min-width: 768px) {
  .promo__form {
    margin: 10px 0 0 0;
  }
}
@media (min-width: 1068px) {
  .promo__form {
    margin: 30px 0 0 0;
  }
}
.promo__foto {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-width: 305px;
  min-height: 310px;
  max-width: 500px;
  max-height: 508px;
  margin: 0;
  background-image: url("../img/promo__img.png ");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 30px;
}
.promo__foto::after {
  content: "";
  background-color: #4e7fce;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (min-width: 768px) {
  .promo__foto {
    margin: 82px 0 0 -1px;
    background-position: 0 0;
  }
  .promo__foto::after {
    display: none;
  }
}
.promo__popup {
  width: 131px;
  position: absolute;
  bottom: 50px;
  left: 150px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
@media (min-width: 768px) {
  .promo__popup {
    width: 215px;
    bottom: 20%;
    left: 20%;
  }
}
@media (min-width: 1068px) {
  .promo__popup {
    bottom: 50%;
    left: 20%;
  }
}
@media (min-width: 1200px) {
  .promo__popup {
    width: 215px;
    bottom: 80px;
    left: 245px;
  }
}
.promo__subtitle {
  margin: 10px 0 15px 0;
  font-weight: 600;
}
@media (min-width: 768px) {
  .promo__subtitle {
    margin: 20px 0;
  }
}
.promo__text {
  max-width: 256px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .promo__text {
    max-width: 570px;
  }
}
.promo__title {
  margin: 30px 0 0 0;
  font-weight: 300;
}
@media (min-width: 768px) {
  .promo__title {
    margin: 95px 0 0 0;
  }
}
@media (min-width: 1068px) {
  .promo__title {
    margin: 80px 0 0 0;
  }
}
@media (min-width: 1200px) {
  .promo__title {
    margin: 160px 0 0 0;
  }
}
.promo__wrap {
  padding: 0 15px;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  margin: 0 0 40px 0;
}
@media (min-width: 768px) {
  .promo__wrap {
    z-index: 2;
    padding: 0;
    margin: 0;
    align-content: start;
  }
}
.client {
  width: 100%;
  position: relative;
  min-height: 143px;
  max-height: 216px;
  color: #9ba0b9;
  overflow-x: hidden;
  background-color: #f7faff;
}
.client__link {
  display: block;
  text-decoration: none;
  margin: 0 20px 0 0;
  width: 120px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.client__link--fermer {
  background-image: url("../img/fermer_disable.png");
}
.client__link--fermer:hover {
  background-image: url("../img/fermer_hover.png");
}
.client__link--vera {
  background-image: url("../img/vera_disable.png");
}
.client__link--vera:hover {
  background-image: url("../img/vera _hover.png");
}
.client__list {
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .client__list {
    margin: 0 135px 60px 135px;
  }
}
.client__title {
  margin: 30px 0 15px 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .client__title {
    margin: 60px 0 20px 135px;
    font-size: 14px;
    line-height: 26px;
  }
}
.client.disabled {
  opacity: 0.3;
}